# Директории
models/
results/
logs/
images/
csv_files/
excel_files/
content/
__pycache__/
content/
.mypy_cache/

# Файлы
*.xlsx
*.csv
*.txt

# Python
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle



# Виртуальные среды
.venv
venv
env
.env
poetry.lock
pyproject.toml
